# ==== Unity Default ====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# ==== VS / Rider / IDE ====
*.csproj
*.sln
*.user
*.unityproj
.vs/
.idea/

# ==== OS ====
.DS_Store
Thumbs.db

# ==== LLM For Unity ====
*.gguf
*.bin
*.model
*.pt
*.onnx
*.safetensors
Turtly/Assets/UndreamAI/LLMUnity/Models/
Turtly/Assets/UndreamAI/LLMUnity/DownloadedModels/
Turtly/Assets/UndreamAI/LLMUnity/Resources/Models/
Turtly/Assets/StreamingAssets/
